<a href="https://colab.research.google.com/github/sphy1597/data_analysis-DS/blob/main/data_analysis(%EC%A7%80%EC%97%AD%EB%B3%84%20%EC%9D%B8%EA%B5%AC%20%EC%86%8C%EB%A9%B8%EC%A7%80%EC%88%98%2C%20%EC%8B%9C%EA%B5%B0%EA%B5%AC%20%ED%95%A9%EA%B3%84%EC%B6%9C%EC%82%B0%EC%9C%A8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**지역별 인구 소멸지수**

In [ ]:
import numpy as np
import pandas as pd
import math

df1 = pd.read_excel('/content/지방소멸위험지수 2017_2020.xlsx',index_col=0)
df2 = pd.read_excel('/content/소멸지수2021.xlsx', index_col=0)

new_df = pd.concat([df1, df2]) # df1, df2 병합

df_sample = new_df.sort_values(by=['시도', '시군구', '연도'], axis=0)

df_sample1 = df_sample.round(2) # 소수점자리 2까지만 나오게 하기

extinction_df = df_sample1.reset_index(drop=True)

extinction_df

In [76]:
extinction_df.to_excel('지방소멸지수2017-2021.xlsx')

#**합계출산율**

In [ ]:
import pandas as pd

df = pd.read_excel('/content/시군구_합계출산율2017~2021.xlsx')

In [146]:
df17 = df.drop(['2018','2019','2020','2021'],axis=1)
df17['연도'] = 2017
df17 = df17.rename(columns={'2017':'합계출산율'})

df18 = df.drop(['2017','2019','2020','2021'],axis=1)
df18['연도'] = 2018
df18 = df18.rename(columns={'2018':'합계출산율'})

df19 = df.drop(['2017','2018','2020','2021'],axis=1)
df19['연도'] = 2019
df19 = df19.rename(columns={'2019':'합계출산율'})

df20 = df.drop(['2017','2018','2019','2021'],axis=1)
df20['연도'] = 2020
df20 = df20.rename(columns={'2020':'합계출산율'})

df21 = df.drop(['2017','2018','2019','2020'],axis=1)
df21['연도'] = 2021
df21 = df21.rename(columns={'2021':'합계출산율'})

In [177]:
fertility_df = pd.concat([df17, df18, df19, df20, df21])
fertility_df = fertility_df.reindex(columns=['시도', '시군구', '연도', '합계출산율'])

#fertility_df.dtypes # 타입확인
#fertility_df = fertility_df.astype({'연도':'int32'}) #연도 타입 float64-> int 변경

fertility_df = fertility_df.sort_values(by=['시도', '시군구', '연도'], axis=0)
fertility_df = fertility_df.reset_index(drop=True)
fertility_df

#256개의 행정구역 * 5(17년~21년) = 1280개

        시도     시군구    연도  합계출산율
0      강원도  　　　강릉시  2017  1.025
1      강원도  　　　강릉시  2018  1.004
2      강원도  　　　강릉시  2019  0.959
3      강원도  　　　강릉시  2020  0.945
4      강원도  　　　강릉시  2021  0.904
...    ...     ...   ...    ...
1275  충청북도  　　　흥덕구  2017  1.205
1276  충청북도  　　　흥덕구  2018  1.126
1277  충청북도  　　　흥덕구  2019  0.993
1278  충청북도  　　　흥덕구  2020  0.968
1279  충청북도  　　　흥덕구  2021  0.954

[1280 rows x 4 columns]

In [ ]:
fertility_df.to_excel('시군구_합계출산율2017~2021(최종).xlsx')