<a href="https://colab.research.google.com/github/sphy1597/data_analysis-DS/blob/yun_seop/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%8B%9C%EA%B0%81%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import pandas as pd
region_runof_rate = pd.read_excel('https://github.com/sphy1597/data_analysis-DS/raw/main/data/region%20runoff%20rate.xlsx', index_col=0)
extinction_risk_score = pd.read_excel('https://github.com/sphy1597/data_analysis-DS/raw/main/data/extinction_risk_score.xlsx',index_col=0)
Total_fertility_rate = pd.read_excel('https://github.com/sphy1597/data_analysis-DS/raw/main/data/Total_fertility_rate.xlsx',index_col=0)

In [50]:
region_runof_rate=region_runof_rate.reset_index(drop=True)
region_runof_rate

           시도   시군구    연도    유출률
0       서울특별시   종로구  2017  0.085
1       서울특별시   종로구  2018 -0.065
2       서울특별시   종로구  2019 -0.070
3       서울특별시   종로구  2020 -0.064
4       서울특별시   종로구  2021 -0.091
...       ...   ...   ...    ...
1140  제주특별자치도  서귀포시  2017  0.293
1141  제주특별자치도  서귀포시  2018  0.118
1142  제주특별자치도  서귀포시  2019  0.018
1143  제주특별자치도  서귀포시  2020  0.033
1144  제주특별자치도  서귀포시  2021  0.096

[1145 rows x 4 columns]

In [51]:
s=pd.DataFrame()
s=extinction_risk_score

In [52]:
s['유출률'] = region_runof_rate['유출률']
s['합계출산율'] = Total_fertility_rate['합계출산율']
s = s.round(3)
s

           시도   시군구    연도   소멸지수    유출률  합계출산율
0       서울특별시   종로구  2017  0.935  0.085  0.646
1       서울특별시   종로구  2018  0.914 -0.065  0.606
2       서울특별시   종로구  2019  0.887 -0.070  0.648
3       서울특별시   종로구  2020  0.849 -0.064  0.522
4       서울특별시   종로구  2021  0.816 -0.091  0.531
...       ...   ...   ...    ...    ...    ...
1140  제주특별자치도  서귀포시  2017  0.629  0.293  1.318
1141  제주특별자치도  서귀포시  2018  0.627  0.118  1.081
1142  제주특별자치도  서귀포시  2019  0.599  0.018  1.130
1143  제주특별자치도  서귀포시  2020  0.555  0.033  0.977
1144  제주특별자치도  서귀포시  2021  0.516  0.096  0.891

[1145 rows x 6 columns]

In [88]:
s.to_excel("데이터 시각화 자료.xlsx")

In [91]:
 s중구 = s2017[s2017['시군구'] == '중구' ]
 s중구

        시도 시군구    연도   소멸지수    유출률  합계출산율
5    서울특별시  중구  2017  0.972  0.016  0.824
125  부산광역시  중구  2017  0.551 -0.117  0.687
205  대구광역시  중구  2017  0.735 -0.049  1.040
245  인천광역시  중구  2017  0.939  0.153  1.047
325  대전광역시  중구  2017  0.805 -0.104  0.946
345  울산광역시  중구  2017  1.148 -0.147  1.196

In [70]:
 s2017 = s[s['연도'] == 2017]
 s2017

           시도   시군구    연도   소멸지수    유출률  합계출산율
0       서울특별시   종로구  2017  0.935  0.085  0.646
5       서울특별시    중구  2017  0.972  0.016  0.824
10      서울특별시   용산구  2017  1.062 -0.040  0.793
15      서울특별시   성동구  2017  1.236  0.095  0.972
20      서울특별시   광진구  2017  1.488 -0.011  0.749
...       ...   ...   ...    ...    ...    ...
1120     경상남도   함양군  2017  0.239  0.091  1.124
1125     경상남도   거창군  2017  0.349 -0.032  1.147
1130     경상남도   합천군  2017  0.181 -0.095  0.839
1135  제주특별자치도   제주시  2017  1.011  0.101  1.301
1140  제주특별자치도  서귀포시  2017  0.629  0.293  1.318

[229 rows x 6 columns]

In [53]:
!pip install folium

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: folium in /usr/local/lib/python3.7/dist-packages (0.12.1.post1)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from folium) (0.5.0)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.7/dist-packages (from folium) (2.11.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from folium) (2.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from folium) (1.21.6)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.9->folium) (2.0.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2022.9.24)

In [54]:
import folium

In [59]:
import requests
import json

# 서울 행정구역 json raw파일(githubcontent)
r = requests.get('https://raw.githubusercontent.com/southkorea/seoul-maps/master/kostat/2013/json/seoul_municipalities_geo_simple.json')
c = r.content
seoul_geo = json.loads(c)

In [68]:
m = folium.Map(
    location=[37.559819, 126.963895],
    zoom_start=11, 
)

folium.GeoJson(
    seoul_geo,
    name='지역구'
).add_to(m)

In [85]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(12, 10))
s.loc[s['연도'] ==  '2017'].groupby('시군구')['소멸자수'].count().sort_values().plot(kind='barh', color='royalblue')
plt.yticks(fontsize=12)
plt.title('서울시 자치구별 커피점/카페 업종수')
plt.show()

KeyError: ignored

In [87]:
m = folium.Map(
    location=[37.559819, 126.963895],
    zoom_start=11, 
    tiles='cartodbpositron'
)

folium.GeoJson(
    seoul_geo,
    name='지역구'
).add_to(m)

m.choropleth(geo_data=seoul_geo,
             data=s, 
             fill_color='YlOrRd', # 색상 변경도 가능하다
             fill_opacity=0.5,
             line_opacity=0.2,
             key_on='properties.name',
             legend_name="지역구별 커피 업종 수"
            )
m

/usr/local/lib/python3.7/dist-packages/folium/folium.py:413: FutureWarning: The choropleth  method has been deprecated. Instead use the new Choropleth class, which has the same arguments. See the example notebook 'GeoJSON_and_choropleth' for how to do this.
  FutureWarning

TypeError: ignored