<a href="https://colab.research.google.com/github/sphy1597/data_analysis-DS/blob/main/%EC%9D%B8%EA%B5%AC%EC%86%8C%EB%A9%B8%ED%95%B4%EA%B2%B0%EB%B0%A9%EC%95%88(%EA%B7%9C%EC%B2%98%EB%A6%AC%EA%BA%BC_ver)_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

합계출산율과 지방소멸의 연관성

2021년 시군구별 소멸위험지수 계산

In [87]:
import pandas as pd

women = pd.read_excel('/content/여성17_21.xlsx')
women

           시도      시군구  성별    연도      20      25      30      35
0       서울특별시   　　　종로구  여자  2017  5737.0  5747.5  5197.0  5285.5
1       서울특별시   　　　종로구  여자  2018  5735.5  5929.5  5137.5  5378.5
2       서울특별시   　　　종로구  여자  2019  5688.5  6046.5  5044.5  5233.0
3       서울특별시   　　　종로구  여자  2020  5626.5  6141.5  4990.5  4975.5
4       서울특별시   　　　종로구  여자  2021  5466.0  6286.5  5008.5  4733.0
...       ...      ...  ..   ...     ...     ...     ...     ...
1300  제주특별자치도  　　　서귀포시  여자  2017  5018.5  4003.5  4375.0  5729.5
1301  제주특별자치도  　　　서귀포시  여자  2018  5058.5  4338.0  4256.0  6121.0
1302  제주특별자치도  　　　서귀포시  여자  2019  4835.5  4449.5  4119.5  6151.0
1303  제주특별자치도  　　　서귀포시  여자  2020  4600.0  4394.5  4028.5  5928.0
1304  제주특별자치도  　　　서귀포시  여자  2021  4381.5  4343.0  4090.0  5686.5

[1305 rows x 8 columns]

In [88]:
women['sum'] = women[20] + women[25] + women[30] +women[35]
women = women.drop([20,25,30,35, '성별'], axis=1)
women

           시도      시군구    연도      sum
0       서울특별시   　　　종로구  2017  21967.0
1       서울특별시   　　　종로구  2018  22181.0
2       서울특별시   　　　종로구  2019  22012.5
3       서울특별시   　　　종로구  2020  21734.0
4       서울특별시   　　　종로구  2021  21494.0
...       ...      ...   ...      ...
1300  제주특별자치도  　　　서귀포시  2017  19126.5
1301  제주특별자치도  　　　서귀포시  2018  19773.5
1302  제주특별자치도  　　　서귀포시  2019  19555.5
1303  제주특별자치도  　　　서귀포시  2020  18951.0
1304  제주특별자치도  　　　서귀포시  2021  18501.0

[1305 rows x 4 columns]

In [89]:
old = pd.read_excel('/content/고령17_21.xlsx')
old

          시도       시군구    연도       65      70      75      80
0       서울특별시   　　　종로구  2017   6979.0  6187.5  5251.5  5086.0
1       서울특별시   　　　종로구  2018   7102.0  6152.0  5571.5  5440.5
2       서울특별시   　　　종로구  2019   7243.5  6189.0  5551.5  5845.5
3       서울특별시   　　　종로구  2020   7636.5  6244.5  5449.5  6264.5
4       서울특별시   　　　종로구  2021   8217.5  6154.5  5312.0  6652.0
...       ...      ...   ...      ...     ...     ...     ...
1300  제주특별자치도  　　　서귀포시  2017   8734.5  7463.5  6612.0  7579.0
1301  제주특별자치도  　　　서귀포시  2018   8816.5  7774.0  6847.0  8114.5
1302  제주특별자치도  　　　서귀포시  2019   8999.0  8144.5  6859.0  8654.0
1303  제주특별자치도  　　　서귀포시  2020   9682.5  8353.0  6880.5  9236.0
1304  제주특별자치도  　　　서귀포시  2021  10618.0  8462.0  6892.0  9854.0

[1305 rows x 7 columns]

In [90]:
old['sum'] = old[65] + old[70] + old[75] +old[80]
old = old.drop([65,70,75,80], axis=1)
old

          시도       시군구    연도      sum
0       서울특별시   　　　종로구  2017  23504.0
1       서울특별시   　　　종로구  2018  24266.0
2       서울특별시   　　　종로구  2019  24829.5
3       서울특별시   　　　종로구  2020  25595.0
4       서울특별시   　　　종로구  2021  26336.0
...       ...      ...   ...      ...
1300  제주특별자치도  　　　서귀포시  2017  30389.0
1301  제주특별자치도  　　　서귀포시  2018  31552.0
1302  제주특별자치도  　　　서귀포시  2019  32656.5
1303  제주특별자치도  　　　서귀포시  2020  34152.0
1304  제주특별자치도  　　　서귀포시  2021  35826.0

[1305 rows x 4 columns]

In [91]:
score = old
score['소멸지수'] = women['sum'] / old['sum']
score = score.drop('sum', axis=1)
score.columns = ['시도', '시군구', '연도', '소멸지수']
score

           시도      시군구    연도      소멸지수
0       서울특별시   　　　종로구  2017  0.934607
1       서울특별시   　　　종로구  2018  0.914077
2       서울특별시   　　　종로구  2019  0.886546
3       서울특별시   　　　종로구  2020  0.849150
4       서울특별시   　　　종로구  2021  0.816145
...       ...      ...   ...       ...
1300  제주특별자치도  　　　서귀포시  2017  0.629389
1301  제주특별자치도  　　　서귀포시  2018  0.626696
1302  제주특별자치도  　　　서귀포시  2019  0.598824
1303  제주특별자치도  　　　서귀포시  2020  0.554902
1304  제주특별자치도  　　　서귀포시  2021  0.516413

[1305 rows x 4 columns]

In [96]:
score.to_excel('소멸지수ver1.xlsx')

In [97]:
score = pd.read_excel('/content/소멸지수ver2.xlsx', index_col=0)

In [98]:
move = pd.read_excel('/content/지역별 유출률 2017_2021 최종본.xlsx', index_col=0)
move.columns = ['시도', '시군구', '연도', '유출률']
move

           시도   시군구    연도       유출률
0       서울특별시   종로구  2017  0.085458
1       서울특별시   종로구  2018 -0.064965
2       서울특별시   종로구  2019 -0.069910
3       서울특별시   종로구  2020 -0.064227
4       서울특별시   종로구  2021 -0.091043
...       ...   ...   ...       ...
1245  제주특별자치도  서귀포시  2017  0.292898
1246  제주특별자치도  서귀포시  2018  0.118259
1247  제주특별자치도  서귀포시  2019  0.018491
1248  제주특별자치도  서귀포시  2020  0.033331
1249  제주특별자치도  서귀포시  2021  0.095718

[1145 rows x 4 columns]

In [99]:
lastscore = pd.merge(move, score, on=['시도', '시군구', '연도'], how='left')
lastscore = lastscore.drop('유출률', axis=1)
lastscore

           시도   시군구    연도      소멸지수
0       서울특별시   종로구  2017  0.934607
1       서울특별시   종로구  2018  0.914077
2       서울특별시   종로구  2019  0.886546
3       서울특별시   종로구  2020  0.849150
4       서울특별시   종로구  2021  0.816145
...       ...   ...   ...       ...
1140  제주특별자치도  서귀포시  2017  0.629389
1141  제주특별자치도  서귀포시  2018  0.626696
1142  제주특별자치도  서귀포시  2019  0.598824
1143  제주특별자치도  서귀포시  2020  0.554902
1144  제주특별자치도  서귀포시  2021  0.516413

[1145 rows x 4 columns]

In [100]:
lastscore.to_excel('소멸지수ㄹㅇ이게마지막진짜로최종에끝자락더이상안할꺼임수정안해버전.xlsx')